<ion-content [fullscreen]="true">
  <div id="container">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Buttons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Button 1
          </ion-card-content>
          <ion-card-content>
            Button 1
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="6" size-md="8">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Devices</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <app-devicelist></app-devicelist>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Displays - Row 2</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Content 2b
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
